[build-system]
requires = [
    "hatchling>=1.3.1",
    "jupyterlab==3.*",
]
build-backend = "hatchling.build"

[project]
name = "pyomovi"
description = "A Custom Jupyter Widget Library"
readme = "README.md"
license = { file = "LICENSE.txt" }
requires-python = ">=3.7"
authors = [
    { name = "Anders Hafreager", email = "andershaf@gmail.com" },
]
keywords = [
    "IPython",
    "Jupyter",
    "Widgets",
]
classifiers = [
    "Framework :: Jupyter",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
dependencies = [
    "ipywidgets>=7.0.0",
    "numpy>=1.21.5",
    "traittypes>=0.2.1"
]
version = "0.16.0"

[project.optional-dependencies]
docs = [
    "jupyter_sphinx",
    "nbsphinx",
    "nbsphinx-link",
    "pypandoc",
    "pytest_check_links",
    "recommonmark",
    "sphinx>=1.5",
    "sphinx_rtd_theme",
]
examples = []
test = [
    "nbval",
    "pytest-cov",
    "pytest>=6.0",
]

[project.urls]
Homepage = "https://github.com/andeplane/pyomovi"

[tool.hatch.build]
artifacts = [
    "pyomovi/nbextension/index.*",
    "pyomovi/labextension/*.tgz",
    "pyomovi/labextension",
]

[tool.hatch.build.targets.wheel.shared-data]
"pyomovi/nbextension" = "share/jupyter/nbextensions/pyomovi"
"pyomovi/labextension" = "share/jupyter/labextensions/pyomovi"
"./install.json" = "share/jupyter/labextensions/pyomovi/install.json"
"./pyomovi.json" = "etc/jupyter/nbconfig/notebook.d/pyomovi.json"

[tool.hatch.build.targets.sdist]
exclude = [
    ".github",
]

[tool.hatch.build.hooks.jupyter-builder]
build-function = "hatch_jupyter_builder.npm_builder"
ensured-targets = [
    "pyomovi/nbextension/index.js",
    "pyomovi/labextension/package.json",
]
skip-if-exists = [
    "pyomovi/nbextension/index.js",
    "pyomovi/labextension/package.json",
]
dependencies = [
    "hatch-jupyter-builder>=0.5.0",
]

[tool.hatch.build.hooks.jupyter-builder.build-kwargs]
path = "."
build_cmd = "build:prod"

[tool.tbump]
field = [
    { name = "channel", default = "" },
    { name = "release", default = "" },
]
file = [
    { src = "pyproject.toml", version_template = "version = \"{major}.{minor}.{patch}{channel}{release}\"" },
    { src = "pyomovi/_version.py" },
]

[tool.bumpver]
current_version = "0.16.0"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message = "bump version {old_version} -> {new_version}"
commit = true
tag = true
push = true

[tool.bumpver.file_patterns]
"pyproject.toml" = [
    'current_version = "{version}"',
    'version = "{version}"',
]

"pyomovi/_version.py" = [
    '__version__ = "{version}"'
]
